*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
section{
  display:none;
  width:100%;
}
.current{
  display:inline-block;
}
.currentTab{
  color:green;
}
.container{
  width:50%;
  margin:0 auto;
}
body{
  background:white;
  font-family: 'Work Sans', sans-serif;
  font-weight:600;
}
h1{
  font-size:72px;
  text-align:center;
  color:#333;
  font-weight:600;
}
